{% extends "base.html" %}
{% load static %}

<title>{% block title %}About Us-{% endblock%}</title>

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">About Us</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}puppy1.jpg" alt="About Pic">
        </div>
    </div>
    <div class="col text-left mt-3">
        <p class="p-about">
            Camp Rover is a premier cage free dog day care and training paradise! 
            Our indoor/outdoor camp is beautiful, fun, safe and supervised 24/7. 
            We feature over 17600 square feet of indoor and outdoor play area for 
            your dog to romp, play and socialize to their heart's content! Watch 
            your camper online as they run on the spacious grassy area, cool off 
            in the custom waterfall/splashpond, relax on the sun deck or under the 
            cooling misters on a hot day. We also offer dog training for those pups 
            that need to brush up on their etiquette. Your pup will love it, and so will you. 
            Your pup will receive exceptional care by our well-trained, attentive 
            staff who are certified in pet CPR and first aid. They are also 
            exceptional snuggles and belly rubbers!
        </p>
        <hr class="w-50 mb-1">
    </div>
    <div class="col text-left mt-3">
        <h4 class="text-center about-headings">
            Day Care
        </h4>
        <p class="p-about">
            Our daily day care schedule is designed to meet your dog's needs and your 
            busy schedule. Available from 7am to 7pm, you can drop off your pup before 
            work and they will be ready for you when you get off work. Whether you choose 
            to drop them off periodically as needed, a few days a week, or every workday, 
            you know your pup will have exercise, enrichment and socialization in a safe, 
            caring cage-free environment!
        </p>
        <div class="row justify-content-center">
            <a href="{% url 'products' %}?category=day_care" class="about-button btn btn-sm text-uppercase rounded-0 py-3">Explore Day Care Options</a>
        </div>
        <hr class="w-50 mb-1">
    </div>
    <div class="col text-left mt-3">
        <h4 class="text-center about-headings">
            Training
        </h4>
        <p class="p-about">
            We offer a variety of dog training for dogs aged 12 weeks and older. Our trainers 
            use a holistic approach of play & train that focuses on socialization, manners and 
            care in addition to traditional obedience training. Classes offered in group or 
            private settings to best accommodate you and your pup. Has your dog already attended 
            a dog training program but needs more reinforcement? Our refresher classes 
            reinforce and maintain training as well as teach dogs new things. 
        </p>
        <div class="row justify-content-center">
            <a href="{% url 'products' %}?category=training" class="about-button btn btn-sm text-uppercase rounded-0 py-3">Explore Training Options</a>
        </div>
        <hr class="w-50 mb-1">
    </div>
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}