html {
    height: 100%;
}

body {
    background: url('/media/puppy2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'boogaloo';
}

.mainpage-font {
    font-family: 'boogaloo';
}

.nav-font {
    font-family: 'boogaloo';
    font-size: 25px;
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
    font-family: 'boogaloo';
    font-size: xx-large;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; 
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.banner-bg {
    background: #F7DC6F !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* -------Bootstrap Toasts -------*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* ------- Media Queries -------*/

/* --- Slightly larger container on xl screens--- */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* --- Fixed top navbar only on medium and up --- */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* --- Pad the top a bit when navbar is collapsed on mobile --- */
@media (max-width: 991px) {
    .header-container {
        padding-top: 150px;
    }

    body {
        height: calc(100vh - 150px);
    }
}


/* --- Product images ---*/
.product-image {
    width: 500px;
    height: 400px;
    object-fit: contain;
}


/* --- Footer ---*/
.footer-container {
    padding-top: 50px;
}

.container-wrapper--gray {
    background-color: #F7DC6F;
    color: #6c757d;
}

.container-wrapper--gray h4 {
    color: #6c757d;
}

.container-wrapper--gray h5 {
    color: #6c757d;
}

#footer-details {
    padding-top: 30px;
    text-align: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #6c757d;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #fafafa;
}

